<%= form_with model: Post.new do |form| %>

  <div>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li style="color: red"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-5">
      <%= form.label 'Post:', class: "input-label" %><br>
      <%= form.text_area :body, class: "input-text-area" %><br>
    </div>

    <%= form.submit class: "btn-primary" %>
    
  </div>

<% end %>