<%= form_with model: Post.new do |form| %>

  <div class="mb-10">

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li style="color: red"><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= form.text_area :body, 
                       class: "input-text-area", 
                       input_html: { autofocus: true }, 
                       placeholder: "Post..." %><br>

    <%= form.submit class: "btn-primary" %>
    <%= link_to "Cancel", 
                posts_path, 
                data: { turbo_frame: "_top" },
                class: "btn-primary bg-red-500 hover:bg-red-600" %>
    
  </div>

<% end %>