<div class="justify-center gap-2.5">
  <div class="p-2 dark:hover:bg-gray-800 rounded-lg max-w-max">
    <%= link_to profile_path(@post.user) do %>
      <span class="flex items-center gap-2.5">
        <%= image_tag 'pfp.jpeg', alt: 'SeKa avatar', class: "w-8 h-8 rounded-full" %>
        <%= @post.user.username %>
      </span>
    <% end %>
  </div>

  <div class="flex items-center gap-2.5">
    <div class="post-card flex-1 w-1/2">
      <h5 class="post-title"><%= @post.title %></h5>
      <p class="post-body"><%= @post.body %></p>
    </div>
    <%= button_to post_likes_path(@post), class: "flex-none" do %>
      <svg class="w-6 h-6 <%= liked?(@post) ? "#{'text-red-500'}" : "#{'text-gray-400'}" %>" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
        <path d="M17.947 2.053a5.209 5.209 0 0 0-3.793-1.53A6.414 6.414 0 0 0 10 2.311 6.482 6.482 0 0 0 5.824.5a5.2 5.2 0 0 0-3.8 1.521c-1.915 1.916-2.315 5.392.625 8.333l7 7a.5.5 0 0 0 .708 0l7-7a6.6 6.6 0 0 0 2.123-4.508 5.179 5.179 0 0 0-1.533-3.793Z"/>
      </svg>
      <%= @post.likes.count %>
    <% end %>
  </div>
  Comments
</div>