<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased dark:text-slate-400 dark:bg-slate-900">

    <nav class="nav-bar">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">


        <%= link_to "OdinBook", root_path, class: "hover:text-green-500 link-primary max-sm:hidden" %>

        <div class="items-center justify-between w-auto inline-flex">

          <% if user_signed_in? %>

            <%= link_to root_path do %>
              <svg class="w-6 h-6 dark:text-white hover:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9"/>
              </svg>
            <% end %>

            <%= link_to "New Post", new_post_path, class: "btn-primary mx-3 md:mx-10" %>
          <% end %>


          <ul class="flex p-0 font-medium rounded-lg space-x-8 rtl:space-x-reverse flex-row mt-0 border-0 dark:bg-gray-900 dark:border-gray-700 items-center">

            <% if user_signed_in? %>

              <li>
                <%= link_to "Profile", profile_path(current_user), class: "link-primary" %>
              </li>

              <li>
                <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "link-primary" %>
              </li>

            <% else %>

              <li>
                <%= link_to "Login", new_user_session_path, class: "link-primary" %>
              </li>

              <li>
                <%= link_to "Sign Up", new_user_registration_path, class: "link-primary" %>
              </li>

            <% end %>
          </ul>

        </div>


      </div>
    </nav>

    <main class="flex-grow flex flex-col items-center justify-center min-h-screen">
      <div class="flex-1 w-11/12 sm:w-3/4 md:w-1/2 ">
        <%= yield %>
      </div>
    </main>

    <footer class="rounded-lg m-4 dark:bg-gray-800">
      <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between">
        <span class="text-sm dark:text-gray-400">
          © 2023 <%= link_to "OdinBook", root_path%>. All Rights Reserved.
        </span>
      </div>
    </footer>

  </body>
</html>
